@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.fieldError {
	color: #bd2130;
}

body {
	font-family: Pretendard-Regular;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	letter-spacing: 0.1px;
	word-break: keep-all;
	padding: 50px 5%;
	margin: 0 auto;
}

/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */

.vocList {
	margin: 100px;
	padding: 50px 5%;
}

.vocList-container {
	text-align: center;
	position: relative;
}

.vocList-title {
	margin-bottom: 40px;
	text-align: center;
}

.vocList-title h3 {
	font-size: 28px; color : #333333;
	font-weight: bold;
	text-align: center;
	color: #333333;
}

.vocList-table {
	font-size: 15px;
	width: 100%;
	border-top : 2px solid #333;
	border-bottom: 1px solid #ccc;
	
}

.vocList-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.vocList-table a:hover {
	text-decoration: underline;
}

.voc-tr {
	/* text-align: center; */
	
	
} /* 이거안먹네 */

.vocList-table .vocList-num .vocList-cnt {
	width: 100px;
	text-align: center;
}

.vocList-table .vocList-date {
	width: 200px;
}

.vocList-table th, .vocList-table td {
	padding: 14px 0;
}

.vocList-table tbody td {
	/* padding-left: 28px;
	padding-right: 14px; */
	padding : 14px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

#voc-name {
	text-align: left;
	padding-left: 25px;
}


.page-item:hover a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.page-item.active a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.voc-write a {
	color: #7d7d7d;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	padding: 9px 22px;
}
.voc-write a:hover {
	color: #fdfdfd;
}

.voc-write:hover {

	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
	
}

.voc-write {
	position: absolute;
	right: 10px;
	text-align: center;
	width: 90px;
	height: 30px;
	background: #666;
	text-decoration: none;
	font-weight: bold;
	background: none;
	border-radius: 5px;
	border: 1px solid #aaa;
	transition: 0.4s;
	cursor: pointer;
}

/* .voc-write {
	background-color: red;
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
} */

/* reset */
/* * {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
} */
/* .container {
  width: 1100px;
  margin: 0 auto;
} */
/* .blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
} */